{% extends 'main.html' %}
{% block title %}Page not found{% endblock %}
{%block scrum%}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/users">Users</a></li>
  </ol>
{%endblock%}

{% block body %}

<div class="card">
    <div class="card-body">
        <div class="row">
          <div class="d-flex align-items-center justify-content-center">
            <div class="text-center">
                <h1 class="display-1 fw-bold">404</h1>
                <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p>
                <p class="lead">
                    The page you’re looking for doesn’t exist.
                  </p>
                <a href="/" class="btn btn-secondary">Go Home</a>
            </div>
        </div>
        </div>
    </div>
  </div>

{% endblock %}